@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap");
body {
  font-family: "Montserrat", "serif";
  /* background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  color: #ffffff; */
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
:root {
  --primary-color: #4b5563;
  --light-color: #9ca3af;
  --off-white: #f3f4f6;
}
.section {
  padding: 3rem 3rem;
  height: 90%;
}
.container-center {
  max-width: 1000px;
  margin: auto;
}
.ow {
  background-color: var(--off-white);
}
.section-text {
  text-align: center;
}
.section h1 {
  text-align: center;
}
.inp {
  display: block;
  margin: auto;
  width: 50%;
  height: 3rem;
}
.bold-text {
  font-weight: 600;
}
.btn {
  display: block;
  margin: auto;
  width: 25%;
  height: 3rem;
  margin-top: 1rem;
  color: #ffffff;
  border-radius: 8px;
  padding: 1rem;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}
.res-img {
  display: block;
  margin: auto;
  height: 200px;
}
.hidden {
  display: none;
}
.warning {
  color: #ff0000;
  border: 2px solid #ff0000;
  width: 60%;
  height: 10%;
  margin: auto;
  justify-content: center;
  align-items: flex-end;
  word-wrap: break-word;
}
.float-right {
  float: right;
  margin-right: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.footer {
  margin-top: 1rem;
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer .footer-header {
  font-weight: bold;
  font-style: large;
}

.footer .link {
  color: white;
}

.footer ul {
  padding-inline-start: 0px;
}

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  /* padding: 0rem 1rem; */
}

.link {
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-primary {
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.5rem;
}

.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}
@media only screen and (max-width: 600px) {
  .warning {
    width: 100%;
    height: 10%;
  }
  .section {
    height: 110%;
  }
}
